singularity {
    /* Enables Singularity container execution by default */
    enabled = true
    cacheDir = "$PWD"
    /* Enable auto-mounting of host paths (requires user bind control feature enabled */
    autoMounts = true
}

env {
    /* These following tools are required to run AmrPlusPlus*/
    JAVA = '/usr/local/envs/AmrPlusPlus/bin//java'
    TRIMMOMATIC = '/usr/local/envs/AmrPlusPlus/share/trimmomatic/trimmomatic.jar'
    PYTHON3 = "python3"
    BWA = "bwa"
    SAMTOOLS = "samtools"
    BEDTOOLS = 	"bedtools"
    RESISTOME = 	"resistome"
    RAREFACTION = 	"rarefaction"
    SNPFINDER = 	"snpfinder"
    FREEBAYES = "freebayes"
    /* These next tools are optional depending on which analyses you want to run */
    KRAKEN2 = "kraken2"
    RGI = "rgi"
    DIAMOND = "diamond"
    BBMAP_JAVA= "/usr/local/bbmap/jni/"
    BBMAP_current = "/usr/local/bbmap/current/"
    CLUMPIFY = "-ea -cp /usr/local/bbmap/current/ clump.Clumpify"
}


process {
  process.executor='pbs'
  process.container = 'shub://meglab-metagenomics/amrplusplus_v2'
  maxForks = 15                 // The maximum number of forks a single process is allowed to spawn
  maxRetries = 5
  withName:RunFastqConvert {
      module = ['singularity']
      queue = 'mesabi'
      memory = { 10.GB * task.attempt }
      cpus = { 4 * task.attempt }
      time = { 1.h * task.attempt }
      errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'ignore' }
  }
  withName:RunMakeList {
      module = ['singularity']
      queue = 'mesabi'
      memory = { 7.GB * task.attempt }
      cpus = { 3 * task.attempt }
      time = { 1.h * task.attempt }
      errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'ignore' }
  }
  withName:RunCFSAN {
      module = ['singularity']
      queue = 'amdsmall'   
      memory = { 50.GB * task.attempt }
      cpus = { 26 * task.attempt }
      time = { 96.h }
      errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'ignore'}
  }
  withName:RunKSNP3 {
      module = ['singularity']
      queue = 'amdsmall'
      memory = { 50.GB * task.attempt }
      cpus = { 26 * task.attempt }
      time = { 96.h }
      errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'ignore' }
  }
  withName:RunLYVESET {
      module = ['singularity']
      queue = 'amdsmall'
      memory = { 50.GB * task.attempt }
      cpus = { 26 * task.attempt }
      time = { 96.h }
      errorStrategy = { task.exitStatus in 137..143 ? 'retry' : 'ignore' }
  }
}
